.noBtn {
    border-color: transparent;
     background: transparent;
}

#configDialog {
    visibility: hidden;
    position: absolute;
    padding: 10px;
    top: 50px;
    z-index: 1000;
    background-color: #4C4C4C;
    border: solid;
    border-width: 2px;
    border-color: white;
    -webkit-border-radius: 27;
    -moz-border-radius: 27;
    border-radius: 20px;
}

input {
   
    color: black;
}
    input[type=number] {
        text-align: right;
    }
    input[type=checkbox] {
       
    }
    input[type="number"][disabled] {
        background-color: darkgray;
    }
