body,
td,
button,
div,
.title,
input {
    color: white;
    font-weight: bold;
    font-family: Arial;
}

body {
    background-color: #303030;
}

.padding20, button, .btn, .btnNofill,.menu,.noBtn {
    padding: 15px;
}

button, .btn, .btnNofill,.menu,.noBtn {
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    color: #ffffff;
    background: #ff9500;
    text-decoration: none;
    border: solid;
    border-width: 2px;
    border-color: #ff9500;
    cursor:pointer;
}
.menu {
    margin-top:10px;
}

.btnNofill {
    background: none;
}
